html, body {
	height: 100vh; 
	min-height: 100vh;
	background-color: #161619;
	background-image: radial-gradient(#1e1e21, #161619);
}

.hidden {
	display: none;
}

.q-img {
	width: 50%;
}

.q-img-centered {
	display: block;
	margin: 0 auto;
}

.presentation {
	height: 80vh;
	min-height: 80vh;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 500;
	padding: 20px;
	background-color: black;
	color: #dadada;
}

.cube-frame {
	height: 80vh; 
	min-height: 80vh;
}

.scoreboard {
	position: fixed;
	width: 100%;
	min-width: 100%;
	bottom: 0px;
	left: 0px;
	height: 15vh;
	min-height: 15vh;
}

.scorecard {

}

.scorecard-header {
	text-align: center;
	font-size: 25px;
	color: #ffffff;
	background-color: #2f8b4b;
}

.scorecard-score {
	text-align: center;
	font-size: 30px;
	color: #ffffff;
	background-color: #4fb96f;
	user-select: none;
}

.scorecard-header-pounce-open {
	background-color: #0a3dbf;
}

.scorecard-score-pounce-open {
	background-color: #2b72ed;
}

.scorecard-header-pounced {
	background-color: #d49b22;
}

.scorecard-score-pounced {
	background-color: #f0bc2e;
}


.pounce-notif {
	position: fixed;
	width: 100%;
	top: 80vh;
	height: 5vh;
	min-height: 5vh;
	background-color: #082b85;
	color: #eeeeee;
	text-align: center;
	font-size: 20px;
}

.timer {
	position: absolute;
	z-index: 1000;
	top: 20px;
	right: 20px;
	width: 100px;
	height: 50px;
	background-color: red;
}